<div class="jumbotron text-center">   
    <h1 >My Address Book:</h1>
</div>


<table class="table table-bordered table-striped table-responsive" ng-show="contacts.displaytag">
	<thead>
		<tr>
			<th>First name</th>
			<th>Surname</th>
			<th>Address</th>
			<th>Town</th>
			<th>Postcode</th>
			<th>Date of birth</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in contacts.contacts">
			<td>{{ contact.firstname }}</td>
			<td>{{ contact.lastname }}</td>
			<td>{{ contact.address }}</td>
			<td>{{ contact.town }}</td>
			<td>{{ contact.postcode }}</td>
			<td>{{ contact.dob | date:"dd/MM/yyyy" }}</td>
			<td>
				<a href="#" ng-click="contacts.deleteContact(contact._id)" class="btn btn-sm btn-block btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>


	    